<div>
    <label>Id: </label> {{ company.ID }}
    <label>Name:</label> {{company.Name}}
    <label>Address: </label> {{ company.Address1 }}
    <label>Address: </label> {{ company.Address2 }}
    <label>City: </label> {{ company.City }}
    <label>State: </label> {{ company.State }}
    <label>Zipcode: </label> {{ company.Postal }}
    <label>Phone: </label> {{ company.PhoneNumber }}
    <label>Email: </label> {{ company.ContactEmail }}
    <label>Suspended: </label> {{ company.Suspended }}
</div>